@model CiudadDto
@{
}

<div>
    <table class="table table-sm">
        @foreach (var item in Model.Instituciones)
        {
            <partial name="Ciudadano/_PresentarInstitucion" model="@item" />
        }
    </table>
</div>