@page
@model DisponibilidadHospitalaria.Pages.Ciudades.Instituciones.CrearInstitucionModel
@{
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="/Index">Inicio</a></li>
        <li class="breadcrumb-item"><a asp-page="../Index">Ciudades</a></li>
        <li class="breadcrumb-item"><a asp-page="./Index" asp-route-ciudadId="@Model.Ciudad.Id">Instituciones</a></li>
        @*<li class="breadcrumb-item"><a href="javascript: history.go(-1)">Instituciones</a></li>*@
        <li class="breadcrumb-item active" aria-current="page">Crear Institución</li>
    </ol>
</nav>

<hr />

<div class="text-center">
    <h3 class="display-4">Crear Institución</h3>
</div>

<div class="row justify-content-center">
    <div class="col-sm-12 col-md-8">
        <div>
            <partial name="_InstitucionEditForm" model="@Model.Input" view-data="ViewData" />
        </div>
    </div>
</div>

