@page
@model DisponibilidadHospitalaria.Pages.Ciudades.Instituciones.EditarUnidadModel
@{
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="/Index">Inicio</a></li>
        <li class="breadcrumb-item"><a asp-page="../Index">Ciudades</a></li>
        <li class="breadcrumb-item"><a asp-page="./Index" asp-route-ciudadId="@Model.Institucion.CiudadId">Instituciones</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editar Unidad</li>
    </ol>
</nav>

<hr />

<div class="text-center">
    <h3 class="display-4">Editar Unidad</h3>
</div>

<br />

<div class="row justify-content-center">
    <div class="col-sm-12 col-md-8">
        <div>
            <partial name="_UnidadEditForm" model="@Model.Input" view-data="ViewData" />
        </div>
    </div>
</div>


