@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Disponibilidad Hospitalaria</h1>
</div>

<div>
    <partial name="Ciudadano/_ElegirCiudad" model="@Model.FiltroCiudad" view-data="ViewData" />
    <br />
    <partial name="Ciudadano/_PresentarInstituciones" model="@Model.Ciudad" view-data="ViewData" />
</div>